<%= flash[:notice] %>
<% if @current_user %>
    <h2>
        Welcome, <%= @current_user.email %>
    </h2>
    <form action='/session/destroy' method=post>
        <input type=hidden name=_method value=DELETE>
        <input type=submit value="Sign Out">
    </form>
<% end %>

<% @bookmarks.each do |bookmark| %>
    <div>
        <a href=<%= bookmark.href %>><%= bookmark.name %></a>
        <form action="/bookmarks/<%= bookmark.id %>" method=post>
            <input type=hidden name=_method value=DELETE>
            <input type=submit value="Delete Bookmark">
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/edit" method=get>
            <input type=submit value="Update Bookmark">
        </form>
        <ul>
        <% bookmark.get_comments.each do |comment| %>
            <li> <%= comment.text %> </li>
        <% end %>
        </ul>
        Tags:
        <ul>
        <% bookmark.tags.each do |tag| %>
            <li> <%= tag.content %> </li>
        <% end %>
        </ul>
        <form action="/bookmarks/<%= bookmark.id %>/comments/new">
            <input type=submit value="Add Comment">
        </form>
        <form action="/bookmark_tags/<%= bookmark.id %>/new">
            <input type=submit value="Add Tag">
        </form>
    </div>
<% end %>

<div>
    <h2> Tags: </h2>
    <% @tags.each do |tag| %>
        <form action="/bookmark_tags/<%= tag.id %>" method=get>
            <input type=submit value="<%= tag.content %>">
        </form>
    <% end %>
    <form action='/tags/new' method=get>
        <input type=submit value="Create New Tag">
    </form>
</div>
